{% extends 'base.html' %}
{% block content %}


       <!-- Main container div body -->
       <div class="container p-0">

        <div class=" mt-4 card bg-success" style="height: 12rem;">
            <div class="card-body">
              <img src="..." class="img-fluid" alt="Responsive image">
            </div>
          </div>

           <div class="cat">
                    <p class=" mt-5 h4">
                        All amazing categories
                    </p>
                    <hr>
           </div>
             
                <!-- categories of produtc to display in home page -->
                <div class="row align-items-center text-center p-0">
                 
                  <div class="col m-2" >
                        <a href="#" style="text-decoration: none;color: black;">
                        <img class="rounded-circle mb-2 shadow_card shadow-4-strong border shadow-sm w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/image_38d82efd-7de4-4378-80d2-d5e523d9474f_720x.png?v=1616062787" /> 
                     <b>MARKER</b>
                      </a>
                    </div>
                    
                    <div class="col m-2"  >
                      <a href="#" style="text-decoration: none;color: black;">
                      <img class="rounded-circle mb-2 shadow_card shadow-4-strong border shadow-sm w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/solo-premium-notebook-a5notebooks-notepadssoloscooboona5518904108227210-290124_280x.jpg?v=1649778606" /> 
                   <b>NOTE BOOKS</b>
                    </a>
                  </div>
                
                  <div class="col m-2"  >
                    <a href="#" style="text-decoration: none;color: black;">
                    <img class="rounded-circle mb-2 shadow_card shadow-4-strong border shadow-sm w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/kangaro-dp-600-paper-punch-601765_280x.jpg?v=1641550612" /> 
                 <b>PAPER PUNCH</b>
                  </a>
                </div>
                
                <div class="col m-2" >
                  <a href="#" style="text-decoration: none;color: black;">
                  <img class="rounded-circle mb-2 shadow_card shadow-4-strong border shadow-sm w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/zebra-sarasa-clip-pen-10-07mmgel-penzebrascooboojje15-bl4901681143320-122732_280x.jpg?v=1657564607" /> 
               <b>CLIP PENS</b>
                </a>
              </div>
                  

              <div class="col m-2"  >
                <a href="#" style="text-decoration: none;color: black;">
                <img class="rounded-circle mb-2 shadow_card shadow-4-strong border shadow-sm w-100 p-4" alt="avatar2" src=https://cdn.shopify.com/s/files/1/0260/9384/6583/products/solo-multipen-holder-ds101-484659_280x.jpg?v=1656740111" /> 
             <b>MULTIPEL HOLDERS</b>
              </a>
            </div>
            
            <div class="col m-2"  >
              <a href="#" style="text-decoration: none;color: black;">
              <img class="rounded-circle mb-2 shadow_card shadow-4-strong border shadow-sm w-100 p-4" alt="avatar2" src="https://cdn.shopify.com/s/files/1/0260/9384/6583/products/classmate-asteroid-mathematical-drawing-instruments-451848_280x.jpg?v=1641550262" /> 
           <b>GEOMETRY BOX</b>
            </a>
          </div>
          
                    
                 
                  </div>
       </div>

{% endblock %}
